extends ../base

block content   

  .page__content.reportChildrenByGrade
    section.page__content-row
      include ../_yearSelector
    section.report__title.page__content-row
      h1 Children By Grade Level
      .report
        each list, grade in gradeLists  
          .report__column
            h2= grade
            each child in list 
              p= child
            h4= "Total: " + list.length  
        