nav.side-nav
  .side-nav__section
    //- h3.side-nav__heading Reports
    h2= currentYear
    
    a.card__button(href=`/reports/courses`  target="_blank" rel="noopener noreferrer") Courses
    
    a.card__button(href=`/class_grid`) Class Grid 