extends base

block content   
  include ./mixins/table
  include ./mixins/radio
  include ./mixins/form
  
  .page__content
 
    div      
      section 
        h1.children__title(id=family.id)= family.parent.lastName
        include _yearSelector
      
      +table('children',
              children,
              ['First Name', 'Sex', 'Grade'],
              ['firstName','sex', 'grade'])
      
      section.child-profile.form-modal__window
        form.form.form__outline-box.child-profile__form.form-modal__content
         
          +formHeader(`Child - ${selectedYear}`)

          .form__outline-box--bottom
            +input('First Name', 'firstName', 15) 
              
          .form__outline-box--bottom
            .form__row.form__item.form__label Sex
            .form__row.form__item  
              +radioColumn ('sex', ['M', 'F'])      
          
          div
            .form__row.form__label.form__item Grade
            .form__row.form__item
              +radioColumn('grade',['Infant', 'Toddler', 'PreK 3', 'PreK 4', 'K'])
              +radioColumn('grade',['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th'])
              +radioColumn('grade',['9th', '10th', '11th', '12th', 'Adult'])

            +submitCancel()        
            
      +deleteModal('child')