extends base

block content   
  section.container.page__content.section-splash 
   h1 WELCOME TO THE JMJ COOP SITE
   h2= `The current year school year is ${currentYear}`
   
          
        
          
        
    