extends base

block content   
  section.container.section-login.page__content 
    h1 WELCOME TO THE JMJ COOP SITE
    h2= `The current year school year is ${currentYear}`
  
          
        
          
        
    