extends base
 
block content
  section.update-password
    form.form.form__outline-box.update-password__form
      .form__row
        .form__header-text= user.firstName + ' ' + user.lastName
        .form__header-background.family-form__header-image
      .form__outline-box--bottom
        .form__item
          label.form__label(for='password') Current Password
          input#password.form__input(type='password' name='password' size='30' placeholder='********' required='')
      .form__outline-box--bottom
        .form__item
          label.form__label(for='newPassword') New Password
          input#newPassword.form__input(type='password' name='newPassword' size='30' minlength='8' placeholder='********' required='')
      div
        .form__item
          label.form__label(for='newPasswordConfirm') Confirm Password
          input#newPasswordConfirm.form__input(type='password' name='newPasswordConfirm' size='30' minlength='8' placeholder='********' required='')
        .form__item--center
          input.form__button.update-password__button(type='submit' value='Submit')


        