.children {
  font-size: 2rem;
  margin: 5rem auto; }
  .children table {
    margin: 3rem; }
  .children th {
    background-color: #2f4885;
    color: #ffd293;
    font-style: italic;
    padding: 0 2rem; }
  .children tr {
    background-color: white; }
    .children tr:hover {
      background-color: #cfd1e2; }
  .children td {
    background-color: inherit;
    border: 1px solid gray;
    font-size: 2rem;
    padding: 0 0.5rem; }
  .children .button {
    background-color: white; }
  .children .edit {
    color: #2f4885;
    padding: 0.2rem 0.5rem; }
    .children .edit:hover {
      transform: scale(1.5);
      color: green; }
  .children .delete {
    padding: 0 0.4rem;
    color: #c7a337; }
    .children .delete:hover {
      transform: scale(1.5);
      color: red; }
  .children .new {
    text-align: center; }
    .children .new:hover {
      transform: scale(1.5);
      color: #c7a337; }

.child-profile__form, .junk-profile__form {
  width: max-content; }

.child-delete__modal, .junk-delete__modal {
  background-color: white;
  padding: 1rem 2rem 0rem;
  border-radius: 2px;
  text-align: center; }

.child-delete__warning, .junk-delete__warning {
  color: red;
  font-size: 3rem;
  font-weight: bolder; }