extends ../base
 
block content

  section.container.section-reset-password.page__content
    form.reset-password__form
      input#newPassword.reset-password__input(placeholder='new password' required='' type='password')
      | new password
      input#newPasswordConfirm.reset-password__input(placeholder='confirm new password' required='' type='password')
      | confirm new password
      .reset-password__button-group
      input.reset-password__button(type='submit' value='Reset Password')