mixin radioColumn(name, items, value)
    //-  name = 'grades'
    //-  items = ['Infant', 'Toddler', 'PreK 3', 'PreK 4', 'K']
    .form__radio-column
        for item in items
            -var itemValue = item.replace(' ', '')
                .form__radio-item   
                    input(id=itemValue type='radio' name=name value=itemValue checked=( item == value) required)
                    label.form__label-radio(for=itemValue)= item