extends ../base



block content   
    .page__content
        div
            section
                h1.classes__title  Classes
                
                div.grid-container(style='display:grid;grid-template-areas: "blank location1 location2 location3" "time1 time1-location1 time1-location2 time1-location3" "time2 time2-location1 time2-location2 time2-location3";')
                    p(style='grid-area:location1;') Classroom 1
                    p(style='grid-area:location2;') Classroom 2
                    p(style='grid-area:location3;') Classroom 3
                    p(style='grid-area:time1;') 9AM
                    p(style='grid-area:time2;') 10AM
                    p(style='grid-area:time1-location1;') early math
                    p(style='grid-area:time1-location2;') early english
                    p(style='grid-area:time1-location3;') early science
                    p(style='grid-area:time2-location1;') late math
                    p(style='grid-area:time2-location2;') late english
                    p(style='grid-area:time2-location3;') late science
                   
                   
                
            
            
               
                
                   

                
                            
                   
               
                   
            
